# Tạo Database

In [ ]:
USE master
GO
IF NOT EXISTS (
 SELECT name
FROM sys.databases
WHERE name = N'tutorial'
)
 CREATE DATABASE [tutorial];
GO
IF SERVERPROPERTY('ProductVersion') > '12'
 ALTER DATABASE [tutorial] SET QUERY_STORE=ON;
GO

Refresh connection ở phía bên trái ta được:

![](images/createdatabase.png)

Tức là đã tạo database thành công

## Nhập cơ sở dữ liệu eurovision

- `File -> Open folder` chọn thư mục chứa file `eurovision.sql`
- Click vào `Explorer`, click vào file `eurovision.sql`
- Tại thanh công cụ phía dưới tên file, ta chọn database `tutorial`

![](images/changedb.PNG)

- Bấm `Run` để nhập dữ liệu

## Giới thiệu về csdl eurovision

Chuyển connection sang database `tutorial`

In [ ]:
USE tutorial
GO

## SELECT *

Để xem bảng `eurovision`, ta sử dụng `SELECT *` để trả tất cả các giá trị trong bảng

In [ ]:
SELECT * FROM dbo.eurovision

# Truy vấn cơ bản

## Truy vấn (Queries) 101
- SQL Sever: nơi lưu trữ (*store*) dữ liệu :seedling:
- Truy vấn (Query): cách thức lấy (*pick*) các dữ liệu từ các quầy khác nhau
- `SELECT`: keyword chính về để query

![](images/q101.png)

## SELECT

### Một cột

In [ ]:
SELECT gender
FROM eurovision;

### Nhiều cột

In [ ]:
SELECT gender, group_type
FROM eurovision;

In [ ]:
SELECT 
  gender, 
  group_type
FROM 
  eurovision;

## SELECT TOP()
### TOP(n)
Sẽ trả ra n dòng đầu tiên

In [ ]:
SELECT TOP(5) gender
FROM eurovision;

### TOP(n) PERCENT
Trả ra kết quả 5% đầu tiên (33 dòng)

In [ ]:
SELECT TOP(5) PERCENT gender
FROM eurovision;

## SELECT DISTINCT

Trả ra toàn bộ dòng của một cột

In [ ]:
SELECT DISTINCT gender
FROM eurovision;

## Đặt alias cột kết quả với AS

Trả ra các giá trị độc nhất của cột gender với tên artist_gender

In [ ]:
SELECT gender AS artist_gender
FROM eurovision;

## Thực hành

- Truy vấn cột `country`
- Truy vấn giá trị độc nhất cột `country`, đặt tên là `unique_country`
- Truy vấn 50 dòng đầu tiên của cột `points`
- Truy vấn 50 dòng đầu tiên của cả bảng

# Truy vấn có thứ tự

## Thứ tự của truy vấn
- Dữ liệu truy vấn ra sẽ dưới dạng các tập hợp
- Cấu trúc dữ liệu của tập hợp không có thứ tự
- Chúng ta có thể sử dụng `ORDER BY` để truy vấn có thứ tự

## ORDER BY

Trả ra theo thứ tự tăng dân

## ORDER BY DESC

Trả ra theo thứ tự giảm dân

In [ ]:
SELECT TOP(10) country, event_year, place
FROM eurovision
ORDER BY place;

In [ ]:
SELECT TOP(10) country, event_year, place
FROM eurovision
ORDER BY place DESC;

# ORDER BY nhiều cột

- Sắp xếp theo cột đầu tiên trước
- Gộp các dòng có cùng giá trị ở cột đầu tiên
- Sắp xếp theo cột thứ hai

In [ ]:
SELECT country, event_year, place
FROM eurovision
ORDER BY event_year, place DESC;

In [ ]:
SELECT country, event_year, place
FROM eurovision
ORDER BY place DESC, event_year;

## ORDER BY với dữ liệu text

In [ ]:
SELECT country, event_year, place
FROM eurovision
ORDER BY country;

In [ ]:
SELECT country, event_year, place
FROM eurovision
ORDER BY country DESC;

## Thực hành
- Số điểm cao nhất là bao nhiêu, ở năm nào?
- Truy vấn `Top 10%` sắp xếp theo country
- Nước nào đạt top 1 theo các năm

# Truy vấn sử dụng lọc

## Lọc với WHERE

Trả ra toàn bộ cột có place = 1

In [ ]:
SELECT country, event_year, place
FROM eurovision
WHERE place = 1;

### Các loại điều kiện với WHERE
```sql
-- Rows with points greater than 10
WHERE points > 10
-- Rows with points less than 10
WHERE points < 10
-- Rows with points greater than or equal to 10
WHERE points >= 10
-- Rows with points less than or equal to 20
WHERE points <= 20
-- Character data type
WHERE country = 'Spain'
-- Date data type
WHERE event_date = '2012-01-02'
-- Testing for non-equality
WHERE total <> 10;
-- Testing for between
WHERE total BETWEEN 20 AND 30;
-- Testing for not between
WHERE total NOT BETWEEN 20 AND 30;
-- Testing for Null
WHERE billing_state IS NULL;
```

## AND

Trả ra các dòng thỏa mãn cả 2 điều kiện

In [ ]:
SELECT country, event_year, place
FROM eurovision
WHERE place < 10 AND country = 'France';

## OR

Trả ra các dòng thỏa mãn 1 trong 2 điều kiện

In [ ]:
SELECT country, event_year, place
FROM eurovision
WHERE place = 1 OR country = 'France';

# IN

Trả ra các dòng thuộc một trong nhữngđiều kiện

In [ ]:
SELECT country, event_year, place
FROM eurovision
WHERE country IN ('France', 'Russia');

## Thực hành
- Truy vấn `country = 'Russia'` và có `event_year = 1999 hoặc >2005`
- Truy vấn `country = 'Russia'` và sắp xếp theo place